In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'A': [1, 2, np.nan,4,5],
    'B':[5, np.nan, np.nan, 8, 10],
    'C':['cat','dog','cat',np.nan,'dog']
}

In [3]:
df = pd.DataFrame(data)
print(df)

     A     B    C
0  1.0   5.0  cat
1  2.0   NaN  dog
2  NaN   NaN  cat
3  4.0   8.0  NaN
4  5.0  10.0  dog

In [4]:
# removing rows with missing values
df_dropped_rows= df.dropna()
print(df_dropped_rows)

     A     B    C
0  1.0   5.0  cat
4  5.0  10.0  dog

In [5]:
#removing columns with missing values
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [6]:
df['A'] = df['A'].fillna(df['A'].mean())
df['B'] = df['B'].fillna(df['B'].mean())

In [7]:
df['C'] = df['C'].fillna(df['C'].mode()[0])

In [8]:
df

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog

In [9]:
from sklearn.impute import SimpleImputer

numerical_imputer = SimpleImputer(strategy='mean')
df[['A','B']] = numerical_imputer.fit_transform(df[['A','B']])
print(df)

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog

In [10]:
categorical_imputer = SimpleImputer(strategy='most_frequent')
df[['C']] = categorical_imputer.fit_transform(df[['C']])
print(df)

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog

In [11]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

iterative_impoter = IterativeImputer()
df[['A','B']] = iterative_impoter.fit_transform(df[['A','B']])

In [12]:
df[['A','B']]

     A          B
0  1.0   5.000000
1  2.0   7.666667
2  3.0   7.666667
3  4.0   8.000000
4  5.0  10.000000

# normalization formula
## x = (x - min(x)) / (max(x) - min(x))

In [14]:
data = {
    'feature1':[10,20,30,40,50],'feature2':[100,200,300,400,500]
}
df = pd.DataFrame(data)

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
print(df_normalized)

   feature1  feature2
0      0.00      0.00
1      0.25      0.25
2      0.50      0.50
3      0.75      0.75
4      1.00      1.00