In [1]:
print("hello pandas")

hello pandas

In [4]:
a = 1
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
import pandas as pd
import numpy as np

In [13]:
arr = np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [14]:
series_data = pd.Series(arr)
print(series_data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
type(series_data)

pandas.core.series.Series

In [19]:
x = pd.Series(arr,index=[100,101,102,103,104])
print(x)

100    1
101    2
102    3
103    4
104    5
dtype: int64

In [20]:
data = {'a': 1, 'b': 2, 'c': 3 ,'d': 4}
x = pd.Series(data)
print(x)

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
x = pd.Series(5, index=[0,1,2,3,4,5,6,7,8])
x

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
dtype: int64

In [29]:
data = [1,2,3,4,5]
x= pd.Series(data,index=[90,91,92,93,94])
x

90    1
91    2
92    3
93    4
94    5
dtype: int64

In [47]:
x[92]

3

In [48]:
x[[90,91,92]]

90    1
91    2
92    3
dtype: int64

In [49]:
#DataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [53]:
name = ['dheeraj','yash','naresh','himanshu','aryan','ajlal']
age =[19,19,21,21,18,20]
data = {'Name':name ,'Age':age}
df = pd.DataFrame(data)
df

       Name  Age
0   dheeraj   19
1      yash   19
2    naresh   21
3  himanshu   21
4     aryan   18
5     ajlal   20

In [6]:
import pandas as pd
import numpy as np

In [13]:
data = np.array([10,15,5,60,79,90,89,90,95,100,67,29,78])
df= pd.DataFrame(data=data,index=[0,1,2,3,4,5,6,7,8,9,10,11,12],columns=['marks'])
print(df[df['marks']>60])

    marks
4      79
5      90
6      89
7      90
8      95
9     100
10     67
12     78

In [9]:
import pandas as pd
data = {
    'Age':[1,10,14,50,8,43,34,7,1,23]
}
df = pd.DataFrame(data)
df[df['Age']<30]
df['Name']=['Dheeraj','Aryan','Ajlal','Yash','Shashank','Anuja','Tanya','Abhishek','Nikita','Mansi']
df=df['Age'].unique()
print(df)

[ 1 10 14 50  8 43 34  7 23]